{% extends 'help_base.html' %}
{% comment %}
#
# This file is part of FreedomBox.
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}

{% load i18n %}

{% block content %}
  <h2>{% trans "Submit Feedback" %}</h2>

  <p>
    {% blocktrans trimmed %}
      Your feedback will help us improve {{ box_name }}!
    {% endblocktrans %}
  </p>

  <p>
    {% blocktrans trimmed %}
      Let us know about missing features, your favourite apps and how we can
      improve them on our <a href="https://discuss.freedombox.org" target="_blank">
      discussion forum</a>.
    {% endblocktrans %}
  </p>

  <p>
    {% blocktrans trimmed %}
      If you find any bugs or issues, please use the <a
      href="https://salsa.debian.org/freedombox-team/plinth/issues"
      target="_blank">issue tracker</a> to let our developers know. To report,
      first check if the issue is already reported and then use the "New issue"
      button.
    {% endblocktrans %}
  </p>

  <p>
    {% blocktrans trimmed %}
      Thank you!
    {% endblocktrans %}
  </p>
{% endblock %}
